{# light_it/blog/templates/components/comment.html #}
{% load mptt_tags %}

{% recursetree comments %}
    <div class="comment-wrapper">
        <div class="comment-content">
            <p>
                {{ node.author }}
            </p>

            {{ node.text|safe }}
                <a href="{% url 'add_comment_2' pk=node.pk %}">Add comment</a>
            {% if not node.is_leaf_node %}
                {{ children }}

            {% endif %}
        </div>
    </div>
{% endrecursetree %}
